<div id="wrap">
  <div class="container">
    <div class="page-header">
      <h1>Upload a CSV</h1>
    </div>
<label class="custom-file">
  <input type="file" id="file" class="custom-file-input">
  <span class="custom-file-control"></span>
</label>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit">Created for Vote.org? Probably?</p>
  </div>
