<div id="wrap">
  <div class="container">
    <div class="page-header">
      <h1>Upload and Clean a CSV</h1>
    </div>

    <p> Upload a CSV to clean. We'll filter out:
      <ul>
        <li>Outbound messages</li>
        <li>Messages with profanity</li>
        <li>Messages from people who sound like they do not vote</li>
        <li>Messages from people trying to unsubscribe, or wrong numbers</li>
        <li>Messages from people who already voted</li>
      </ul>
    </p>

    <form action="/submit" method="POST" enctype="multipart/form-data">

      <label class="custom-file">
        <input type="file" id="file" name="file" accept=".csv" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
      <br/><br/>

      <input type="submit" value="Submit File for Filtering" />

    </form>

  </div> <!-- .container -->
</div> <!-- #wrap -->

<div id="footer">
  <div class="container">
    <p class="text-muted credit">Created for <a href=https://www.vote.org/>Vote.org</a></p>
  </div>
</div>
